node-linker=hoisted
recursive-install=true
link-workspace-packages=true
shared-workspace-lockfile=false
prefer-workspace-packages=true
shared-workspace-shrinkwrap=true
strict-peer-dependencies=false
auto-install-peers=true
save-workspace-protocol=false
hoist-pattern[]=*
shallow-install=false